.graph {
    width:30%;
    padding:10px;
    float:left;
    background:rgba(139, 139, 139, 0.03);
}


#fullWidth {
    width:50%;
    margin:0 auto;
}
#fullWidth #map {
    width:100%; 
    min-height:300px; max-height:800px;
}
