/*
    COLOR SCHEME
    dark:       #2C3E50;
    light:      #2f4353;
    red:        #E74C3C;
    white:      #ECF0F1;
    lightBlue:  #3498DB; 
    blue:       #2980B9;

*/
body {
    background: #2f4353;
    padding:0; margin:0;
    color:white;
    height:100%;
}

#sideMenu {
    font-family: 'Oswald', sans-serif;
    background: #2C3E50;
    width:30%; height:100%;
/*    position:relative;*/
    float:left;
}
#sideMenu h1 {
     font-weight:400;   
}
#main {
    font-family: 'Quattrocento', serif;
    font-weight:400;
    width:70%; height:100%;
/*    position:relative;*/
    float:left;
}
.graph {
    width:30%;
    padding:10px;
    float:left;
    background:rgba(139, 139, 139, 0.03);
}


#fullWidth {
    width:100%;
    margin:0 auto;
}
#fullWidth #map {
    width:100%; 
    min-height:600px;
/*    min-height:300px; max-height:800px;*/
}
